body{
    background-image: url(https://cdn.pixabay.com/photo/2025/02/19/06/17/winter-9416919_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    
}

.login-main{
    
    background-color: rgba(190, 190, 190, 0.7);
    text-align: center;
    width: 300px;
    height: 300px;
    border: 1px rgb(58, 58, 58) solid;
    margin: 100px auto;
    padding: 50px auto;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: black 6px 6px 5px 3px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.login{
    font-size: 30px;

}
button{
    color: rgb(0, 0, 0);
    background-color: rgba(45, 46, 46, 0.3);
    border-radius: 6px;
    padding: 5px 10px;
    margin: 10px auto;
}
input{
    border-radius: 30px;
    padding: 5px 5px;
}
a{
    text-decoration: none;
    color: black;
}
@media (max-width: 768px) {
    .login-main{
        grid-template-columns: 1fr;
    }
}










